// ================================
//
// $landing
//
// ================================

.intro__img {
    position: relative;
    max-height: 40rem;

    img {
        height: auto;
        width: 100%;
        position: relative;
        top: -10rem;
        background-size: cover;
    }
}


.intro__img-cover {
    max-height: 40rem;
    overflow: hidden;
    position: relative;
}

.intro__headline {
    z-index: 3;
    color:white;
    margin-bottom: -7.1rem;
    font-size: 4.6rem;
    line-height: 0.875;
    position: absolute;
    font-weight: 400;
    margin-left: 4.6rem;
    bottom: 0;

    span {
        background-color: rgba(0, 0, 0, .80);
        display: inline-block;
        padding:1.6rem;
    }
}